* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
}

:root {
    --blue: #1A37A7;
    --text-color: #90A3bf;


}





/* navbar style start */
.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.nav-heading {
    font-size: 40px;
    color: var(--blue);
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}

.nav-child1 {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.search-bar {
    background-color: white;
    width: 50%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid grey;
    padding: 5px;
    position: relative;

}

#search-icon {
    position: absolute;
    top: 25%;
    left: 2%;
    font-size: 20px;
    z-index: 99;

}

#Search-input {
    position: absolute;
    top: 25%;
    left: 12%;
    font-size: 15px;
    width: 80%;
    outline: none;
    border: none;

}

#slider-icon {
    position: absolute;
    right: 3%;
    top: 25%;
    z-index: 9;
}

.nav-child3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20PX;

}

.nav-child3-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 5px 6px;
    border-radius: 50%;
    border: 1px solid grey;
}

.nav-child3-icon:hover {
    background-color: grey;
    color: white;
}

.icon-link {
    color: black;
    text-decoration: none;
}

/* navbar responsive style start here  */

@media only screen and (max-width: 910px) {
    .search-bar {
        width: 100%;
    }
}

@media only screen and (max-width: 730px) {
    .nav-child1 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
    }


    .navbar {
        height: 150px;

    }

    .nav-heading {
        margin-bottom: -40px;
        margin-top: 40px;
    }

    .search-bar {
        width: 100%;
        border-radius: 5px;
        margin-left: 50%;
        margin-top: 5px;
        height: 30px;
    }
}

@media only screen and (max-width: 420px) {
    .nav-child1 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
    }

    .navbar {
        height: 150px;

    }

    .nav-heading {
        margin-bottom: -40px;
        margin-top: 40px;
        font-size: 30px;


    }

    .icon-child3 {
        display: none;
    }

    /* .nav-child3-icon {
        display: none;
    } */

}



/* navbar responsive style end here  */

/* navbar style :end */







.container {
    height: auto;
    margin: 30px 20px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;

}

.child1-container {
    width: 55%;
    height: auto;
    border-radius: 15px;
}

.child2-container {
    width: 43%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px;
}

.child1-portion1 {
    background-color: white;
    height: auto;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.portion1-section1 {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.main-heading {
    font-size: 22px;
    margin-bottom: 5px;
}

.portion1-section2 {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
    margin-top: 20px;
    line-height: 1.6;
    justify-content: space-between;
}

.sub-heading {
    font-size: 16px;

}

.inputfield {
    width: 300px;
    height: 40px;
    background-color: whitesmoke;
    border: none;
    border-radius: 5PX;
}

.child1-portion2 {
    background-color: white;
    height: auto;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
}
select{
    color: grey;
}

.child1-portion3{
    background-color: white;
    height: auto;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;

}

.portion3-section1{
    
    display: grid;
    grid-template-columns: auto auto;
    line-height: 1.6;
    row-gap:  30px;
    justify-content: space-between;
   
}
.inputfield1 {
    width: 300px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 5PX;
    padding: 10px;
    margin-top: 5px;
}
.card-section{
    background-color: whitesmoke;
    margin-top: 20px;
    border-radius: 5px;
    padding: 30px;
}
.credit-option{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10PX;
}
.credithead{
    font-size: 18px;
    font-weight: 600;
}
.card-png{
    margin-top: -10PX;
}
.paypal{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    align-items: center;
}
.paypal-section1{
    margin-top: 5px;
}
.paypal-text{
    margin-left: 5px;
    font-weight: 600;
}

.Confirmation-section{
    margin-top: 40px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: whitesmoke;

}
.confirmation-text{
    font-weight: 600;
    margin-left: 5px;
}

.Confirmation-button{
    background-color: #1A37A7;
    margin-top: 40px;
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.Confirmation-data{
    margin: 30px 0px 10px 0px;
    width: 100px;
}
.data-quote{
    color: #90A3bf;

}

.summary-para{
    color: #90A3bf;
    margin-top: 5px;
    line-height: 1.3;
}

.car-section{
    width: 120px;
    height: 120px;
    background-color: #1A37A7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

}
.img-child2{
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}
.portion1-child2-section1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.name-section-child2{
    margin-left: 20px;
    line-height: 1.9;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.subtotal-name{
    color: #90A3bf;
    font-size: 18px;
    font-weight: 600;
}
.subtotal-value{
    font-size: 18px;
    font-weight: 600;
}
.promo-code{
    background-color: whitesmoke;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;

}

.promocode-btn{
    background-color: whitesmoke;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.promocode-input{
    background-color: whitesmoke;
    height: 100%;
    width: 50%;
    font-size: 16px;
    color: grey;
    border: none;
    outline: none;
}

.last-item{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.lastitem-heading{
    font-size: 22px;
    margin-bottom: 5px;
}
.lastitem-content{
    color: #90A3bf;
    font-size: 14px;
}

.lastitem-Price{
    font-size: 35px;
}





































/* footer style  Start */

.footer {

    height: 350px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.footer-child1 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 50px;



}

.footer-gchild1 {
    width: 25%;


}

.footer-gchild2 {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto;

}

.footer-subheading {
    margin-bottom: 20px;
    font-family: sans-serif;
}

.footer-content {
    margin-bottom: 15px;
    color: rgb(46, 46, 46);
    font-size: 18px;
    font-family: sans-serif;

}

.footer-heading {
    font-size: 40px;
    color: var(--blue);
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer-subheading {
    font-size: 25px;

}

hr {
    height: 1px;
    color: grey;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}

.footer-child2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    font-family: sans-serif;


}

.pr-tc {
    display: flex;
    gap: 25px;

}

.footer-anchor-links {
    text-decoration: none;
    color: rgb(46, 46, 46);

}





@media only screen and (max-width: 850px) {
    .footer-gchild2 {
        grid-template-columns: auto auto;
    }

    .footer {
        height: 450px;
    }

    .footer-subheading {
        margin-bottom: 5px;
        font-size: 17px;
    }

    .footer-content {
        font-size: 16px;
        margin-bottom: 5px;
    }




}

@media only screen and (max-width: 450px) {

    .footer-child1 {
        flex-direction: column;

        gap: 25px;
    }

    .footer-gchild2 {
        grid-template-columns: auto auto auto;
        gap: 25px;
        width: 100%;
        padding-right: 12px;
    }

    .footer-para {
        width: 50vh;
    }

    .footer {
        height: 430px;
    }

    .footer-child2 {
        flex-direction: column-reverse;
        gap: 10px;


    }

    .footer-heading {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .footer-list {
        gap: 30px;
    }


}

@media only screen and (max-width: 360px) {
    .footer {
        height: 420px;
    }

    .footer-content {
        font-size: 12px;
        margin-bottom: 2px;
    }

    .footer-para {
        width: 30vh;
    }

}

@media only screen and (max-width: 320px) {
    .footer {
        height: 530px;
    }

    .footer-content {
        font-size: 12px;
        margin-bottom: 2px;
    }

    .footer-gchild2 {
        grid-template-columns: auto auto;
        gap: 25px;
        width: 100%;
        padding-right: 12px;
    }

    .footer-child1 {
        padding-top: 20px;

    }

    .footer-child2 {
        text-align: center;
    }
}

/* Footer Style End Here  */